APP_ENV=development
APP_NAME=Pinara API
API_V1_PREFIX=/api/v1

SUPABASE_URL=http://127.0.0.1:54421
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=

GOOGLE_MAPS_API_KEY=
GOOGLE_PLACES_REQUESTS_PER_MINUTE=12
GOOGLE_ROUTES_REQUESTS_PER_MINUTE=20

CORS_ORIGINS=http://localhost:8081
